################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ember-Auth-Example/.vs
/Ember-Auth-Example/Ember-Auth-Example/bin
/Ember-Auth-Example/Ember-Auth-Example/obj
/Ember-Auth-Example/packages
*.user
