<h2>Ember.js Authentication Example</h2>

{{outlet}}

{{#if session.user}}
  <p><button {{action "logout"}}>Logout</button></p>
{{else}}
  <p>{{#link-to "login" tagName="button"}}Login{{/link-to}}</p>
{{/if}}